<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/home.css">

<div class="home-body">
    <div class="for-you">
        <div class="for-you-header">
            <h4>For You:</h4>
        </div>
        <div class="for-you-content">
            <ul class="mt-4  pt-3">
                <% for (let post of posts){ %>
                <li>
                    <img class="pfp-feed" src="<%=post.author.pfp.url%>" alt="pfp">
                    <h5><a class="post-author" href="/posts/users/<%=post.author.username%>"><%= post.author.username.charAt(0).toUpperCase()+ post.author.username.slice(1) %></a></h5>
                    <p><a class="post-body" href="/posts/<%= post.id %>"><%= post.body%></a></p>
                    <p class="post-info">
                        <span><%= post.date.substring(0, 21) %> </span>
                        <span><%= post.likes%> likes <img class="like-heart" src="/images/heart.png" alt=""></span>
                    </p>
                </li>
                <hr>
                <% } %>
            </ul>        
        </div>
    </div>
    <div class="user-profile">
        <div class="user-info-section">
            <div class="greeting">
                <h4 class="mb-3 pt-3">Hey <%= currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1) %>!</h4>
                <div class="img-container">
                    <img class="pfp" src="<%= currentUser.pfp.url %>" alt="">
                </div>
                <div class="tagline">
                    <p><%= currentUser.tagline%></p>
                </div>
                <div class="edit-buttons">
                    <a class="btn bttn-center bttn-link" href="/userhome/editProfile/<%= currentUser._id %>/photo">Manage Photo</a>
                    <a class="btn bttn-center bttn-link" href="/userhome/editProfile/<%= currentUser._id%>/tagline">Edit Tagline</a>
                </div>
            </div>
                <div class="item">
                    <form action="/posts" method="POST" class="validated-form" autocomplete="off" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="body">Thoughts?</label>
                            <textarea class="form-control txt" rows="7" type="text" id="body" name="post[body]" required></textarea>
                        </div>
                        <button class="bttn">Post</button>
                    </form>
                </div>
                <div class="item">
                    <a class="plain-link"  href="/posts/myPosts">My posts</a>
                </div>
        </div>
        <div class="follow-section">
            <div class="item">
                <h5 class="mb-3">People you follow:</h5>
                <ul class="follow-list">
                    <% for(let i of foundUsers){ %> 
                        <li class="pt-2">
                            <img src="<%= i.pfp.url %>" alt="" class="pfp-following">
                            <a class="plain-link" href="/posts/users/<%=i.username %>"><%= i.username.charAt(0).toUpperCase() + i.username.slice(1) %></a>
                        </li>
                    <% } %>
                </ul>

            </div>
            <form class="search" action="/posts/find/name" method="GET">
                <input class="bar mb-3" type="text" placeholder="Find your peers" name="username">
                <button class="bttn-search">Search</button>
            </form>
        </div>       
    </div>
    <div class="aside">
        <h4>Sponsored</h4>
        <div class="ad-content">
            <div class="card ad-item">
                <img class="adphoto" src="/images/ad1.jpeg" alt="ad">
                <p class="pt-3">
                    Free healthcare and guaranteed retirement doing this one trick that the government doesn't want you to know about.
                </p>
                <br>
                <img src="/images/adchoices-logo.png" alt="" class="ad-logo"><a target="_blank" href="https://www.facebook.com">Click Here</a>
            </div>
            <hr>
            <div class="card ad-item">
                <img class="ad-img" src="/images/ad2.jpeg" alt="ad" class="adphoto">
                <p class="pt-3">
                    Tech companies are worried we'll let you in on this secret to permanently erase your information from their servers. 
                </p>
                <br> 
                <img src="/images/adchoices-logo.png" alt="" class="ad-logo"><a target="_blank" href="https://www.aljazeera.com/">Click here</a>

            </div>

        </div>
    </div>

</div>

<script src="/js/bootstrapValidation.js"></script>



