<% layout("layouts/boilerplate") %>
<div class="container-fluid">
    <div class="container d-flex justify-content-center row">
        <div class="card mb-3 pt-3 col-md-6">
            <ul>
                <% for(let i of foundPosts){ %>
                    <% if(i.author.username === username) { %>
                        <li>
                            <h2><%= i.title %></h2>
                            <p><%= i.body %></p>
                            <p><%= i.likes %> likes</p>
                            <p>                            
                                <a class="btn btn-dark ms-2 float-end" href="/posts/<%= i.id %>">View</a>
                            </p>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 pt-3">
                <div class="container offset-3">
                    <h1><%= foundUsers.username %></h1>
                    <% if(currentUser.following.includes(foundUsers._id)){ %>
                        <div class="container pb-3">
                            <span class=" btn btn-outline-primary">Following &#10003;</span>
                        </div>
                        <div class="container pb-3">
                            <form action="/inne/follow/remove" method="POST">
                                <input type="hidden" name="_id" value="<%= foundUsers._id %>">
                                <button class="btn btn-danger">Unfollow</button>
                            </form>
                        </div>
                    <% } else { %>
                        <div class="container pb-3">
                            <form action="/inne/follow" method="POST">
                                <input type="hidden" name="_id" value="<%= foundUsers._id %>">
                                <button class="btn btn-primary">Follow</button>
                            </form>
                        </div>
                     <% } %>
                </div>
            </div>
        </div>
    </div>
    
</div>