<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="container row">
        <div class="card col-6 offset-3">
            <h2> <%= foundPosts.title %></h2>
            <p><%= foundPosts.body %></p>
            <p>- <%=foundPosts.author.username %></p>
            <form action="/comments">
                <button>Like</button>
            </form>
        </div>
    </div>
    <div class="container row">
        <div class="card col-6 offset-3 mt-4">
            <form class="validated-form" action="/posts/<%= foundPosts._id %>/comments" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="commentBody">Comment</label>
                    <textarea class="form-control" type="text" id="commentBody" name="comment[commentBody]" required></textarea>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <div class="container row">
        <div class="card col-6 offset-3 mt-3">
            <% for (let i of foundPosts.comments){ %> 
                <p><%= i.commentBody %></p>
                <p>- <%= i.author.username %></p>
            <% } %>
            <form action="/comments" method="POST">
                <button>Like</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/bootstrapValidation.js"></script>